#pageMargin{
	margin-top: 3%;
	margin-left: 10%;
}

#header{
	margin-left: 0%;
	/* margin-bottom: 12%; */
}

#Timer{
	margin-left: 15%;
}

#title{
	text-align: center;
	margin-bottom: 50px;
	margin-left: 40%;
	margin-right: 15%;
	margin-top: -150px;
}

#EndTestButton{
	margin-top: 20px;
}

#sekalu{
	height: 720px;	
	width: 100%;
}

.courseHeader{
	margin-top: 20px;
	font-family: fantasy;
}

.topicHeader{
	margin-top: 20px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}